* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background: url(./images/mountain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.taskCard {
  width: 250px;
  padding: 10px 25px;
  margin: 10px 1%;
  background-color: antiquewhite;
  border-radius: 3px;
}

.taskCardTitleInputArea {
  margin-bottom: 10px;
  width: 50%;
  cursor: pointer;
}

.taskCardTitleInput {
  width: 80%;
  font-size: 1.1rem;
  padding: 4px 6px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.taskAddInput {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 20px;
  font-size: 1.1rem;
  border-radius: 4px;
  border: none;
  outline: none;
}

.taskBox {
  display: flex;
  margin-bottom: 12px;
  padding: 15px 10px;
  box-shadow: 1px 2px 4px black;
  background-color: white;
  border-radius: 5px;
}

.taskText {
  width: 80%;
  padding-left: 3px;
}

.taskTrashButton {
  width: 20%;
  border: none;
  background: none;
  cursor: pointer;
}
